[Unit]
Description=Nominatim running as a gunicorn application
After=network.target postgresql.service
Requires=postgresql.service
PartOf=nominatim.target

[Service]
CapabilityBoundingSet=
Environment=LD_PRELOAD=/usr/lib/libjemalloc.so
Environment=MALLOC_CONF=narenas:4
Environment=PYTHONMALLOC=malloc
ExecReload=/bin/kill -s HUP $MAINPID
ExecStart=/usr/bin/gunicorn --no-control-socket -b unix:/run/nominatim/%i.sock -k asgi --keep-alive 65 nominatim_api.server.falcon.server:run_wsgi()
Group=http
IPAddressDeny=any
KillMode=mixed
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateNetwork=yes
PrivateTmp=true
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
Restart=always
RestartMaxDelaySec=10s
RestartSec=100ms
RestartSteps=5
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RuntimeDirectory=nominatim
RuntimeDirectoryMode=750
RuntimeDirectoryPreserve=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@obsolete @resources
TimeoutStopSec=5
UMask=0077
User=http
WorkingDirectory=/var/lib/nominatim

[Install]
WantedBy=nominatim.target
